body{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,24,65,1) 48%, rgba(119,218,238,1) 100%);
}
.heading{
  width: 320px;
  margin: 100px auto;
  color: cyan;
  text-align: center;
}
.calc{
  width: 320px;
  margin: 100px auto;
}
#answer{
  background-color: rgb(63, 209, 190);
  color:rgb(75, 78, 77);
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border: 3px solid #173636;
  

}

.button{
  background: #221a46;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid rgb(34, 20, 51);
  float: left;
}
.button1{
  width: 160px;
  background: #221a46;
  height: 60px;
  color: white;
}
